<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang cá nhân</title>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card {
            max-width: 300px; /* Tùy chỉnh kích thước của card */
            margin-bottom: 20px; /* Khoảng cách giữa các card */
        }
        .form-group {
            max-width: 400px; /* Tùy chỉnh kích thước của form */
        }
        .profile-image {
            width: 150px; /* Tùy chỉnh kích thước ảnh */
            height: 150px;
            object-fit: cover;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .project-card {
            background-color: #f8f9fa; /* Màu nền của card dự án */
            padding: 20px; /* Khoảng cách bên trong card dự án */
            margin-top: 40px; /* Khoảng cách giữa form và card dự án */
        } 
        #myDiv {
        display: none;
        }
        .inputImg1{
            display: none;
        }
        .capnhat{
            padding: 5px 35px;
            margin: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <% if(session.user.access == 1){ %>
                <% if(loai =='tt'){ %> 
                    <% if(data.length !=0){ %>
                        <% for(let e of data) { %>
                            <% let usernameimg = e.username; %>
            <h2 class="text-center">Thông tin cá nhân</h2>
            <!-- Đây là nội dung card -->
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex align-items-center justify-content-center">                        
                        <img id="img-preview1" src="<%= e.img %>" class="card-img-top rounded-circle profile-image" alt="Avatar">
                    </div>                
                    <div class="card-body  text-center">
                        <h5 class="card-title" > <%= e.name %> </h5>
                        <p class="card-text"><%= e.username %></p>
                        <form action="/users/updateImage/<%= e.username %>" method="post">
                            <div class="mb-2" id="myDiv">              
                                <% if (e.img.includes('/images/')) { %>
                                  <input type="text" name="img1" value="<%= e.img %>">
                                <% } else { %>
                                  <input type="text" name="img1" value="/images/<%= e.img %>">
                                <% } %>
                              </div>                       
                            <label for="input-img1" class="btn btn-primary">Thay đổi Avatar</label>
                            <input id="input-img1" class="inputImg1" type="file" accept="image/jpeg, image/png, image/jpg" >                                                                   
                            <input type="submit" class="btn btn-primary capnhat" value="Cập nhật">
                        </form> 
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form action="/users/updateProfile" method="POST" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" class="form-control" id="username" name="username" placeholder="Vui lòng nhập gmail" value="<%= e.username %>" readonly>
                        <p id="emailError" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="passwork" placeholder="Vui lòng nhập mật khẩu" value="<%= e.passwork %>">
                        <p id="passwordError" class="text-danger"></p>
                    </div>
                    <div class="form-group">                        
                        <label for="role">Quyền</label>
                        <% if (e.quyen == "1"){ %>
                            <select class="form-control" id="role" name="quyen">
                                <option value="1" selected >Admin</option>
                                <option value="2" disabled>Saler</option>
                                <option value="3" disabled>Staff</option>
                            </select>
                        <% } else if (e.quyen == "2") {%> 
                            <select class="form-control" id="role" name="quyen">
                                <option value="1" disabled>Admin</option>
                                <option value="2" selected>Saler</option>
                                <option value="3" >Staff</option>
                            </select>
                        <% } else { %>
                            <select class="form-control" id="role" name="quyen">
                                <option value="1" disabled>Admin</option>
                                <option value="2" >Saler</option>
                                <option value="3" selected>Staff</option>
                            </select>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="name" name="name" id="fullName" placeholder="Vui lòng nhập họ và tên" value="<%= e.name %>">
                        <p id="nameError" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" name="sdt" id="phone" placeholder="Vui lòng nhập số điện thoại" value="<%= e.sdt %>">
                    </div>
                    <div class="form-group">
                        <label for="diachi">Address</label>
                        <input type="text" class="form-control" name="diachi" id="diachi" placeholder="Vui lòng nhập địa chỉ" value="<%= e.diachi %>">
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>  
                    <% var ngaysinhParts = e.ngaysinh.split('-'); %>
                    <% var ngaysinhISO = ngaysinhParts[2] + '-' + ngaysinhParts[1] + '-' + ngaysinhParts[0]; %>
                        <input type="date" class="form-control" name="ngaysinh" value="<%= ngaysinhISO%>">
                    </div>
                    <div class="form-group text-center mt-2">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                                    
                </form>
            </div>            
            <% } } %>

            <%} %>            

            }%>            
        </div>
    </div>
</body>
</html>

<script>

  document.getElementById('input-img1').addEventListener('change', function(e) {
    var file = e.target.files[0];
    var reader = new FileReader();

    reader.onload = function(e) {
      var imgValue = e.target.result;
      document.getElementById('img-preview1').src = imgValue;

      // Tạo FormData object
      var formData = new FormData();
      formData.append('img1', file); // Thêm ảnh vào FormData

      // Gửi yêu cầu AJAX để tải ảnh lên server
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/users/uploadImage1', true);
      xhr.onload = function() {
        if (xhr.status === 200) {
          // Lấy đường dẫn của ảnh đã tải lên từ phản hồi
          var imagePath = xhr.responseText;
          document.getElementsByName('img1')[0].value = imagePath;
          
        }
      };
      xhr.send(formData);
    };

    reader.readAsDataURL(file);
  });


  function validateForm() {
    const emailInput = document.getElementById('username');
    const usernameError = document.getElementById('usernameError');

    const passwordInput = document.getElementById('password');
    const passwordError = document.getElementById('passwordError');

    const nameInput = document.getElementById('name');
    const nameError = document.getElementById('nameError');

    // Kiểm tra định dạng email
    // const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    // if (!emailPattern.test(emailInput.value)) {
    //     usernameError.textContent = 'Email không hợp lệ';
    //     return false; // Ngăn không gửi form
    // } else {
    //     usernameError.textContent = ''; // Xóa thông báo lỗi
    // }

    // Kiểm tra độ dài mật khẩu
    if (passwordInput.value.length < 6) {
        passwordError.textContent = 'Mật khẩu phải có ít nhất 6 ký tự';
        return false; // Ngăn không gửi form
    } else {
        passwordError.textContent = ''; // Xóa thông báo lỗi
    }

    // Kiểm tra ký tự hợp lệ trong mật khẩu
    const passwordPattern = /^[a-zA-Z0-9]+$/;
    if (!passwordPattern.test(passwordInput.value)) {
        passwordError.textContent = 'Mật khẩu chỉ được chứa số và chữ cái';
        return false; // Ngăn không gửi form
    } else {
        passwordError.textContent = ''; // Xóa thông báo lỗi
    }

    // Kiểm tra ký tự hợp lệ trong trường name
    const namePattern = /^[a-zA-Z\s]+$/;
    if (!namePattern.test(nameInput.value.trim())) {
        nameError.textContent = 'Vui lòng chỉ nhập chữ';
        return false; // Ngăn không gửi form
    } else {
        nameError.textContent = ''; // Xóa thông báo lỗi
    }

    return true; // Cho phép gửi form
}

</script>